[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/incubator-brpc"]
	path = third_party/incubator-brpc
	url = https://github.com/apache/incubator-brpc.git
[submodule "third_party/zookeeper"]
	path = third_party/zookeeper
	url = git@github.com:apache/zookeeper.git
